.container{
   height: 90px;
   width: 90px;
}

.olma{
    display: flex; 
    justify-content: space-between;
     align-items: center;
} 

form{
    display: flex; 
    justify-content: space-between;
     align-items: center;
}